body{
    background: hsl(233, 47%, 7%);
}
.main{
    width: 680px;
    height: 290px;
    margin: 10%;
    margin-left: 25%;
    background: hsl(244, 38%, 16%);
    margin-top: 15%;
}
.img{
    width: 250px;
    height: 290px;
    float:right;
    
}
.hai{
    color:  hsl(0, 0%, 100%);
    font-size: 25px;
    padding: 22px;
    margin-left: 5%;
    font-weight: 400;
    margin-bottom: -3%;
    
}
.in{
    color:  hsl(277, 64%, 61%);
}
.hai1{
    color: hsla(0, 0%, 100%, 0.6);
    padding: 10px;
    margin-left: 5%;
    font-size: 15px;
    
}
.come{
    color:  hsl(0, 0%, 100%);
    margin-left: 25px;
    margin-top: 2px;
    margin-bottom: -2%;
}
.bai{
    color:  hsla(0, 0%, 100%, 0.6) ;
    margin-left: 3%;
    
}
.temp{
    color:  hsl(0, 0%, 100%);
    margin-top: -70px;
    margin-left: 27%;
    margin-bottom: -2%;
}
.bai1{
    color:  hsla(0, 0%, 100%, 0.6);
    margin-left:25% ;
    
}
.hello{
    color:  hsl(0, 0%, 100%);
    margin-left: 45%;
    margin-top:-70px ;
    margin-bottom: -2%;
}
.bai2{
    color:   hsla(0, 0%, 100%, 0.6);
    margin-left: 45%;
}
